.abc{
  display: grid;
  grid-template-columns: 60% 40%;
  
  
}
.xyz{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
  text-align: center;
  margin-top: 5px;
  color: white;
}
.orange-text{
  color: gold;
}
@media (max-width:700px) {
  .abc{
    display: flex;
    flex-direction: column-reverse; 
  }
}